<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Server side Awesome React Refast</title>
    <meta name="description" content="A simple boilerplate for react">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/favicon.ico"></head>
    <link href="styles.css" rel="stylesheet"></head>
  </head>
  <body>
    <div class="container"><%- markup -%></div>
    <script type="text/javascript" src="frontend.bundle.js"></script></body>
  </body>
</html>
