<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Server side Awesome React Refast</title>
    <meta name="description" content="Server side Awesome React Refast">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"></head>
    <link href="styles.css" rel="stylesheet"></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="app-container"><%- markup -%></div>
    <script>
      window.__APOLLO_STATE__=<%-JSON.stringify(initialState).replace(/</g, '\\u003c')%>
    </script>
    <script type="text/javascript" src="frontend.bundle.js"></script>
  </body>
</html>
