@import "./variables.scss";
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/icon.sass";
@import "node_modules/bulma/sass/elements/other.sass";

html,
body,
.app-container {
  height: 100%;
}

.is-relative {
  position: relative;
}

.is-rotated {
  transform: rotate(180deg);
}
