@import "./variables.scss";
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/icon.sass";
@import "node_modules/bulma/sass/elements/other.sass";

html,
body,
.app-container {
  height: 100%;
}

.routes-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.routes-content {
  flex: 1 0 auto;
}

.is-relative {
  position: relative;
}

.is-rotated {
  transform: rotate(180deg);
}
